<h1>Shopping cart</h1>
<a href="{{ path('store-index') }}">Back to Store</a>
<a href="{{ path('checkout') }}">Checkout</a>

<div id="cart-items"></div>

<script>
	const cartData = JSON.parse(localStorage.getItem('cart'));

const cartItemsContainer = document.getElementById('cart-items');
if (cartData) {
cartData.forEach(item => {
const itemElement = document.createElement('div');
itemElement.innerHTML = `${
item.title
} - ${
item.price
}`;
cartItemsContainer.appendChild(itemElement);
});
} else {
cartItemsContainer.innerHTML = 'No items in cart';
}
</script>
